body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", Arial, Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, sans-serif;
  color: #333;
}
* {
  box-sizing: border-box;
}
input {
  -webkit-appearance: none;/*常用于IOS下移除原生样式*/
  -webkit-tap-highlight-color: rgba(0,0,0,0); /*点击高亮的颜色*/
}
input, button {
  outline: none;
  border: none;
}
input::-webkit-input-placeholder {
  color: #B2B2B2;
}
.border-1px {
  position: relative;
  overflow: hidden;
}
.border-1px::after {
  content:"";
  position:absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  transform: scale(0.5);
  transform-origin: left top;
  box-sizing: border-box;
  border: 1px solid #E5E5E5;
  border-radius: 8px;
}